<h2> Dom update component demo</h2>
<button {{action "setValues" class="w3-button"}}>set</button>
<div style="margin-top:10px;background-color:darkgrey">
First Name: {{firstName}}<br>
Last Name: {{lastName}}<br>
Full Name: {{fullName}}<br>
count:{{count}}
</div>
{{yield}}