
<h2>Demo for runloop queues</h2>
<button {{action "triggerQueues" class="w3-button"}}>set</button>
<div>
    <h2>
        Debounce,Throttle Example:
    </h2>
{{input type="text" key-up='triggerKeyUp' value=textValue}}
{{newTextValue}}
</div>
{{result}}

{{yield}}